# Python
*.py[cod]
*$py.class
__pycache__/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Environments
env.bak/
venv.bak/
.venv/
.env
*.cfg/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Database
*/migrations/

# macOS
.DS_Store

# Static
staticfiles/

claude
migrations
CLAUDE/
API_list.csv
