asgiref==3.11.0
Django==5.2.10
django-environ==0.11.2
djangorestframework==3.16.1
dotenv==0.9.9
Markdown==3.10
mysqlclient==2.2.7          # c 컴파일러 문제로 최신버전 사용
python-dotenv==1.2.1
redis==5.0.1
sqlparse==0.5.5